<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <!-- Jquery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"
      integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <nav>
      <div class="logo"><h3>update 24 * 7 admin</h3></div>
      <ul>
        <li><a class="active" href="./home.ejs">news form</a></li>
        <li><a href="editNews">edit news</a></li>
        <li onclick="handleLogout()">logout</li>
      </ul>
    </nav>
    <div class="user_details">
      <div class="detail_1"><label>Name:</label> <span><%= name %> </span></div>
      <div class="detail_2">
        <label>email:</label> <span><%= email %> </span>
      </div>
    </div>
    <form>
      <label>title</label>
      <div class="input_div">
        <div class="input" contenteditable="true" name="title"></div>
      </div>
      <label>description</label>
      <div class="input_div">
        <div
          class="input description"
          contenteditable="true"
          name="description"
        ></div>
      </div>
      <label>url</label>
      <input type="text" name="url" />
      <label>url To Image</label>
      <input type="text" name="urlToImage" />
      <label>published at</label>
      <input type="text" name="publishedAt" />
      <button type="button" onclick="addNews()">add</button>
    </form>

    <script>
      const token = "<%= JSON.stringify(token) %>";
      localStorage.setItem("token", token);

      function handleLogout() {
        localStorage.removeItem("token");
        $.ajax({
          method: "get",
          url: "/logout",
          async: true,
          success: function (response) {
            if (response.status === true) {
              window.location.href = "/login";
            }
          },
        });
      }

      function addNews() {
        let title = document.querySelector('[name="title"]');
        let description = document.querySelector('[name="description"]');
        let url = document.querySelector('[name="url"]');
        let urlToImage = document.querySelector('[name="urlToImage"]');
        let publishedAt = document.querySelector('[name="publishedAt"]');
        if (
          title.textContent === "" ||
          description.textContent === "" ||
          url.value === "" ||
          urlToImage.value === "" ||
          publishedAt.value === ""
        ) {
          window.alert("Field Empty");
        } else {
          const newsData = {
            title: title.textContent,
            description: description.textContent,
            url: url.value,
            urlToImage: urlToImage.value,
            publishedAt: publishedAt.value,
          };
          $.ajax({
            method: "post",
            url: "/api/news/add",
            data: newsData,
            dataType: "json",
            async: true,
            success: function (response) {
              console.log(response);
              if (response.status === true) {
                title.textContent = "";
                description.textContent = "";
                url.value = "";
                urlToImage.value = "";
                publishedAt.value = "";
                alert(response.res);
              } else {
                alert(response.res);
              }
            },
          });
        }
      }
    </script>
  </body>
</html>
