<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>update24*7</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/login.css" />
  </head>
  <body>
    <div class="login_section">
      <form action="/api/admin/login" method="post">
        <h1>login</h1>
        <label>email</label>
        <input type="text" name="email" />
        <label>password</label>
        <input type="password" name="password" />
        <div class="btn_wrapper">
          <button type="submit" class="btn login_btn">Sign in</button>
          <a href="/register" class="btn register_btn">Sign up</a>
        </div>
      </form>
    </div>
  </body>
</html>
